* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: turquoise;
  padding: 0 20px;
}

.search-bar {
  max-width: 50%; /*Or maybe 450px*/
  margin: 150px auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bar-holder {
    position: relative;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.bar-holder input[type="text"] {
  height: 55px;
  width: 95%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-icon{
    height: 55px;
    width: 20%;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: turquoise;
}

.search-icon-2{

}

.search-icon-2 button {
    height: 55px;
    width: 8%;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: turquoise;
}

.suggestions-com{
    /*padding: 10px 8px;*/
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.bar-holder.active .suggestions-com{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.suggestions-com li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.bar-holder.active .suggestions-com li{
    display: block;
}

.suggestions-com li:hover{
background-color: rgb(216, 210, 210);
}